/* google font poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background-color: #131312;
    font-family: 'poppins',sans-serif;
    display: flex;
    justify-content: center;
}

header{
    width:85% ;
    height: 95%;
    border:1px solid #fff;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

header .menu_side, .song_side{
    position: relative;
    width: 25%;
    height: 90%;
    border:1px solid #fff ;
    background-color: #111727;
    box-shadow: 5px 0px 2px #090f1f;
    color: #fff;
}
header .song_side
{
    width: 75%;
    background:#0b1320;
}

header .master_play
{
    width: 100%;
    height: 10%;
    background:#111727 ;
    box-shadow: 0px 3px 8px #090f1f;
}

header .menu_side h1{
    font-size: 20px;
    margin:15px 0px 0px 20px ;
    font-weight: 500;
}

header .menu_side .playlist
{
    margin: 40px 0px 0px 20px;
}

header .menu_side .playlist h4
{
        font-size: 14px;
        font-weight: 400;
        padding-bottom: 10px;
        color: #4c5262;
        cursor: pointer;
        display: flex;
        align-items: center;
        transition: .3s linear;

}

header .menu_side .playlist h4:hover
{
        color: #fff;

}

header .menu_side .playlist h4 span
{
       position: relative;
       margin-right: 35px;

}

header .menu_side .playlist h4 span::before
{
       content: '';
       position: absolute;
       width: 4px;
       height: 4px;
       border: 2px solid #4c5262;
    border-radius: 50%;
    top: -4px;
    transition: .3s linear;

}

header .menu_side .playlist h4 span::before:hover
{
    color: #fff;
}

header .menu_side .playlist h4 .bi
{
   display: none;
}

header .menu_side .playlist .active
{
   color: #36e2ec;
}

header .menu_side .playlist .active span
{
   display: none;
}

header .menu_side .playlist .active .bi
{
   display:flex;
   margin-right: 20px;
}
header .menu_side .menu_song
{
  width: 100%;
  height: 300px;
 /* border: 1px solid #fff;*/
  margin-top: 40px;
}

header .menu_side .menu_song li
{
    position: relative;
    list-style-type: none;
    padding: 5px 0px 5px 20px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    transition: .3s linear;
}

header .menu_side .menu_song li:hover
{
    background: rgb(105, 105,170,.1);
}

header .menu_side .menu_song li span
{

    font-size: 12px;
    font-weight: 600;
    color: #4c5262;
}

header .menu_side .menu_song li img
{
    width: 32px;
    height: 32px;
    margin-left: 25px;
}

header .menu_side .menu_song li h5
{
   font-size: 11px;
   margin-left: 15px;
}

header .menu_side .menu_song li h5 .subtitle
{
   font-size: 11px;
   color: #4c5262;
 
}

header .menu_side .menu_song li .bi
{
  position: absolute;
  right: 15px;
  top: 6px;
  font-size: 16px;
 
}

header .master_play{
    display: flex;
    align-items: center;
    padding: 0px 20px;
}
header .master_play .wave{
    width: 30px;
    height: 30px;
   /* border: 1px solid #fff;*/
    padding-bottom: 5px;
    display: flex;
    align-items: flex-end;
    margin-right: 10px;
}

header .master_play .wave .wave1
{
    width: 3px;
    height: 10px;
    margin-right: 3px;
    border-radius: 10px 10px 0px 0px;
    background: #36e2ec;
    animation: unset;
}

header .master_play .wave .wave1:nth-child(2)
{
    height: 13px;
   /* animation-delay: .4s; */

}

header .master_play .wave .wave1:nth-child(3)
{
    height: 8px;
  /*  animation-delay: .8s;*/
}

/*javascript class wave*/
header .master_play .active2 .wave1
{
    animation: wave .5s linear infinite;
}

header .master_play .active2 .wave1:nth-child(2)
{
    animation-delay: .4s;

}

header .master_play .ative2 .wave1:nth-child(3)
{
    animation-delay: .8s;
}




@keyframes wave{
    0%
    {
        height: 10px;
    }
    50%
    {
        height: 15px;
    }
    100%
    {
        height: 10px;
    }
}

header .master_play img{
    width: 354px;
    height: 35px;
}

header .master_play h5{
    width: 130px;
    height: 13px;
    margin-left: 15px;
    color: #fff;
    line-height: 17px;

}

header .master_play h5 .subtitle{
   font-size: 11px;
   color: #4c5262;
}
header .master_play .icon{
    font-size: 20px;
    color: #fff;
    margin: 0px 20px 0px 40px;

 }

 header .master_play .icon .bi{
   
    cursor: pointer;
    outline: none;
 }
 header .master_play .icon .bi:nth-child(2){
   
   border: 1px solid rgb(105, 105,170,.1);
   border-radius:50% ;
   padding: 1px 3px 0px 6px;
   margin: 0px 5px;
   transition: .3s linear;

 }


 header .master_play span{
    color: #fff;
    width: 32px;
    font-size: 11px;
    font-weight: 400;
 }

 header .master_play span #currentStart{
   margin: 0px 0px 0px 20px;
 }

 header .master_play .bar
 {
    position: relative;
    width: 43%;
    height: 2px;
    background: rgb(105, 105,170,.1);
    margin: 0px 15px 0px 10px;

 }

 header .master_play .bar .bar2
 {
   position: absolute;
   background: #36e2ec;
   width: 0%;
   height: 100%;
   top: 0;


 }

 header .master_play .bar .dot
 {
   position: absolute;
  width: 5px;
  height: 5px;
  background: #36e2ec;
  border-radius: 50%;
  left: 0%;
  top: -1px;
  transition: 1s linear;

 }
 
 header .master_play .bar .dot::before
 {
    content:'';
   position: absolute;
  width: 15px;
  height: 15px;
  border:1px solid #36e2ec;
  border-radius: 50%;
  left: -6px;
  top: -6px;
  box-shadow: inset 0px 0px 3px #36e2ec;

 }

 
 header .master_play .bar input
 {
  position: absolute;
  width: 100%;
  top: -6px;
  left: 0;
  cursor: pointer;
  z-index:999999;
  transition:3s linear ;
  opacity: 0;




 }
 
 
 












